In [2]:
import findspark
findspark.init()
import pyspark

In [ ]:
data = [("John", "Doe", 29), ("Jane", "Smith", 34), ("Sam", "Brown", 23)]
columns = ["first_name", "last_name", "age"]

df = spark.createDataFrame(data, columns)
df.show()

In [ ]:
# Selecting specific columns
df.select("first_name", "age").show()

# Filtering data
df.filter(df["age"] > 25).show()

# Grouping and Aggregating
df.groupBy("age").count().show()

df.createOrReplaceTempView("people")
result = spark.sql("SELECT * FROM people WHERE age > 25")
result.show()

In [ ]:
rdd = spark.sparkContext.parallelize([1,2,3,4,5])
squared_rdd = rdd.map(lambda x: x*x)
print(squared_rdd.collect())